@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;700&display=swap');
@import url(./desktop.css);
@import url(./button-h.css);
@import url(./header.css);
@import url(./session.css);
@import url(./reviews.css);
@import url(./slide.css);
@font-face{
    font-family:"Proxima Nova";
    src: url(./fonts/proximanova_regular.ttf);
    font-style: normal;
    font-weight: normal;
}